<template>
<!-- <v-app class="LoginApp"> -->
<div class="main">
  <div class="container">
      <div class="txt1"><h1>{{msg}}</h1></div>
      <div class="txt1"><h1>&</h1></div>
      <div class="txt1"><h1>influencer login page</h1></div>
  </div>
  <div class="container2">
     <div><h3>Login</h3></div><br>
     <div><h5>Coach or an influencer?</h5></div>
  <div>
     <div class="form-check box1">
      <input class="form-check-input" type="checkbox" value="">
      <label class="form-check-label" for="flexCheckChecked">Coach</label>
     </div>
     <div class="form-check box2">
     <input class="form-check-input" type="checkbox" value="">
     <label class="form-check-label" for="flexCheckChecked">Influencer  </label>
    </div>
  </div><br><br>
     <form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input v-model="email" type="email" class="form-control width" placeholder="e.g. smith.john@gmail.com">
            <v-text-field
                  outlined
                  dense
                  :height="50"
                  :rules="rule_email"
                  type="email"
                  :value="email"
                  class="outline"
                ></v-text-field>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input v-model="password" type="password" class="form-control width" id="exampleInputPassword1" >
    <v-text-field
       v-model="user.password"
       :type="isSecure ? 'password' : 'text'"
       class="applyTextField passCode"
       @focus="focusPassword();"
       @blur="blurPassword()"
      :rules="passwordRule"
      outlined
     ></v-text-field>
  </div>
  <div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
   <a href="http://localhost:8080/#/signup"><div class="float2 pinkColor" @click="signup()">Sign Up</div> </a>
</div>
  </div>
  <button class="btn btn-primary size" @click="login()">Log in</button>
</form>
</div>
</div>
<!-- </v-app> -->
</template>
<script>
import router from '../router/index'
import axios from 'axios'
export default {
  name: 'Login',
  data: {
        user: null,
        email: '',
        password: ''
  },
  data () {
    return {
      msg: 'Squashfit Coach',

      user: {
        email: '',
        password: ''
      },

      rule_email: [
        value => !!value || 'Required.',
        value => {
          const pattern = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/
          return pattern.test(value.trim()) || 'Invalid e-mail.'
        }
      ],
      passwordRule: [value => !!value || 'Required.']
    }
  },
  methods: {
  login() {
      const user={
				email: this.email,
				password: this.password
      }
        return new Promise((resolve, reject) => {
          axios({ url: 'http://localhost:8081/user/login', data: user, method: 'POST' })
           .then(({ data }) => {
              console.log('login successfully');
                resolve(data)
                })
                .catch(err => {
                  console.log('login failed');
                   reject(err)
                })
    })
    }
}
}
</script>

<style>
.pinkColor{
   color: #FF5D97;
}
.main{
  margin: 0 auto;
}
.size{
  width: 80%;
  background: linear-gradient(90.7deg, #6C03AD 0%, #B900E8 100%);
}
.container{
   height: 567px;
   width: 45%;
   background-color:rgba(245, 245, 245, 0.4);
   float: left;
   margin-left: 80px;
}
.container2{
   height: 567px;
   width: 45%;
   float: right;
}
.txt1{
    color: black;
   font-family: 'Mulish';
   font-style: normal;
   margin: 20px;
   font-weight: 700;
   font-size: 18px;
   text-align:left ;
   line-height: 35px;
}
h3{
    text-align: left;
    font-weight: 400;
}
h5{
    text-align: left;
}
.box1{
    float: left;
}
.box2{
    float: left;
    margin-left: 20px;
}
.box3{
    width: 30%;
    height: 50px;
    float: left;
}
.width{
  width: 80%;
}
.cursor-pointer{
  float: left;

}
.float2{
  float: right;
  margin-right: 120px;
}
</style>
