<template>
<div class="aline-center">
  <div class="position">
        <div class="align-items-center">
            <a href="./login.vue" class="backSpace cursor-pointer show-lg"><h4>Back</h4></a>
        </div>
        <div class="float"><h1>SIGN UP</h1></div>
    </div>
    <br>
    <div class="row">
      <div class="col">
          <div>Name</div>
          <input v-model="name" type="text" class="form-control">
      </div>
     <div class="col">
          <div>Moblie Number</div>
          <input v-model="mobileNumber" type="text" class="form-control">
      </div>
      <br><br><br>
    <div class="row">
    <div class="col">
      <div>Email address</div>
      <input v-model="email" type="email" class="form-control">
    </div>
    <div class="col">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input v-model="password" type="password" class="form-control" id="exampleInputPassword1">
    </div>
    </div>
    </div>
    <button class="btn btn-primary size center" @click="signUp()">Sign Up</button>
</div>    
</template>

<script>
import axios from 'axios'
export default {
    data: {
        user: null,
        name: '',
        mobileNumber: '',
        email: '',
        password: ''
    },
    methods: {
        signUp() {
               const user={
                name: this.name,
				email: this.email,
				mobilenumber: this.mobileNumber,
				password: this.password
               }
               return new Promise((resolve, reject) => {
                axios({ url: 'http://localhost:8081/user/register', data: user, method: 'POST' })
                    .then(({ data }) => {
                        console.log('signUp successfully');
                        resolve(data)
                    })
                    .catch(err => {
                        reject(err)
                    })
            })
        }
}

}
</script>

<style>
div{
    margin: 0 auto;
}
.aline-center{
    width: 60%;
    height: 500px;
    background-color:white;
    padding: 10px;
}
.show-lg{
    text-decoration: none;
}
.center{
    margin: 10px 350px;
}
</style>

